*{
    background-color: #1f2937;
    color: #e5e7eb;
}

.header {
    display: flex;
    color: #f9faf8;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
}

.headerlogo {
    font-size: 24px;
}

.header ol {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 28px;
     
}

#hero {
    display: flex;
    color: #f9faf8;
    padding: 28px;
    gap: 28px;
}

#whoami {
    display: flex;
    color: #f9faf8;
    align-items: center;
    padding: 8px; 
}

